.container{
    /* border: 2px solid red;
    width: 1200px;
    height: 600px; */
    padding:80px;
    text-align: center;
    
    
}
.child-1{
    display: inline-block;
    /* border: 2px solid red; */
    width: 250px;
    vertical-align: top;
    /* height: 500px; */
}
.child-2{
    display: inline-block;
    /* border: 2px solid red; */
    width: 250px;
    vertical-align: top;
    /* height: 500px; */
}
.child-3{
    display: inline-block;
    /* border: 2px solid red; */
    width: 250px;
    vertical-align: top;
    /* height: 500px; */
}
.child-4{
    display: inline-block;
    /* border: 2px solid red; */
    width: 250px;
    vertical-align: top;
    /* height: 500px; */
}
img{
    width: 100%;
    
}