body{
    
    background-color: black;
}
.container{
    display: flex;
    justify-content: center;
    
    
    
}
.container1{
    display: flex;
    justify-content: center;
    
    
    
}
.container div {
    width: 50px;
    height: 50px;
    border: 2px solid black;
   
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.container1 div {
    width: 50px;
    height: 50px;
    border: 2px solid black;
   
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.container div:nth-child(odd) {
  background-color:antiquewhite;
  
}
.container1 div:nth-child(even){
  background-color:antiquewhite;
  
}
.container div:nth-child(even) {
  background-color:rgb(125, 160, 64);
}
.container1 div:nth-child(odd) {
  background-color:rgb(125, 160, 64);
}

